---
import BaseLayout from "../layouts/BaseLayout.astro";
import astroLogo from "../images/stackLogos/astro-logo.svg";
import cssLogo from "../images/stackLogos/css-logo.svg";
import htmlLogo from "../images/stackLogos/html-logo.svg";
import jsLogo from "../images/stackLogos/js-logo.svg";
import netlifyLogo from "../images/stackLogos/netlify-logo.svg";
import posthogLogo from "../images/stackLogos/posthog-logo.svg";

const pageTitle = "Kibet Chessesio";
---

<BaseLayout pageTitle={pageTitle}>
  <component>
    <section class="wrapper-medium hero">
      <h1>The Beginings of a New Journey</h1>
    </section>

    <section class="wrapper-medium">
      <h2>A little about me</h2>
      <div class="wrapper-p bg-highlight-dark">
        <p class="p-first">
          I am Kibet Chessesio, to my family, I am Flavo (Short for my first
          name) to most of my friends, I am simply Chess.
        </p>

        <p class="p-mid">
          I like solving difficult problems and over the last 7 years I’ve been
          we’ve been trying our hand at solving problems around cross-border
          trade until last year when we decided to put our business in the
          dreaded startup graveyard.
        </p>

        <p class="p-mid">
          My role in this was as product lead where I met and tried to
          understand challenges businesses importing and exporting cargo faced
          and crafted software solutions around them.
        </p>

        <p class="p-mid">
          I now embark on a new journey into software development in a frankly
          scary time (I write this in 2025 btw), with a lot of hope and
          optimism, because this is where I want to be.
        </p>

        <p class="p-last">It’s a pleasure to have you here!</p>
      </div>
    </section>

    <section class="bg-highlight-dark">
      <div class="wrapper-medium">
        <div>
          <h2>This stack...</h2>
          <p>Here are the tools I used to build this!</p>
        </div>

        <div class="stack-container-wrapper">
          <div class="stack-container">
            <div class="stack-2-1">
              <div class="stack bg-highlight">
                <div class="stack-title">
                  <h3>Layout and interactivity</h3>
                </div>

                <div class="stack-icon-container">
                  <img class="stack-icon-tall" src={htmlLogo.src} alt="HTML" />
                  <img class="stack-icon-square" src={cssLogo.src} alt="CSS" />
                  <img
                    class="stack-icon-square"
                    src={jsLogo.src}
                    alt="JavaScript"
                  />
                </div>
              </div>

              <div class="stack bg-highlight">
                <div class="stack-title">
                  <h3>Front-End Framework</h3>
                </div>

                <div class="stack-icon-container">
                  <img
                    class="stack-icon-wide"
                    src={astroLogo.src}
                    alt="Astro"
                  />
                </div>
              </div>
            </div>

            <div class="stack-1-1">
              <div class="stack bg-highlight">
                <div class="stack-title">
                  <h3>Hosting</h3>
                </div>

                <div class="stack-icon-container">
                  <img
                    class="stack-icon-wide-tall"
                    src={netlifyLogo.src}
                    alt="Netlify"
                  />
                </div>
              </div>

              <div class="stack bg-highlight">
                <div class="stack-title">
                  <h3>Analytics</h3>
                </div>

                <div class="stack-icon-container">
                  <img
                    class="stack-icon-wide"
                    src={posthogLogo.src}
                    alt="PostHog"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </component>
</BaseLayout>
